@mixin display {
  /* Display */
  font-family: "DM Serif Display";
  font-size: clamp(2rem, 4vw, 3rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin heading {
  /* Heading */
  font-family: "DM Serif Display";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin subheading {
  /* Subheading */
  font-family: "DM Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 3rem;
  margin-bottom: 0;
}

@mixin section-title {
  /* Section title */
  font-family: "DM Sans";
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 0.8rem;
  margin-bottom: 0;
}

@mixin emphasis {
  /* Emphasis */
  font-family: "DM Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: .08rem;
  text-transform: uppercase;
}

@mixin medium {
  /* Medium */
  font-family: "DM Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin body {
  /* Body */
  font-family: "DM Sans";
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (width > 1440px) {
    font-size: 1rem;
  }
}

strong {
  @include display;
}

h1 {
  @include heading;
}

h2 {
  @include subheading;
}

h3 {
  @include section-title;
}

em {
  @include emphasis;
}

a, b {
  @include medium;
}

span, p, button {
  @include body;
}
